In [1]:
import pandas as pd

In [21]:
df = pd.read_csv("county_states.csv")
df1 = pd.read_csv("cdc_mort_2005to2022_race_recode3sum.csv")
df2 = pd.merge(df, df1, on=["res_statefips", "res_countyfips"], how = "inner")
df2

,state,county_name,state_fips,res_countyfips,res_statefips,race_recode3,mort_count,fileyear,filetype
0,Alabama,Autauga,1,1,AL,White,1,2005,US
1,Alabama,Autauga,1,1,AL,Black,1,2005,US
2,Alabama,Autauga,1,1,AL,White,2,2006,US
3,Alabama,Autauga,1,1,AL,Black,3,2006,US
4,Alabama,Autauga,1,1,AL,White,1,2007,US
...,...,...,...,...,...,...,...,...,...
41854,Wyoming,Weston,56,45,WY,White,1,2008,US
41855,Wyoming,Weston,56,45,WY,White,1,2009,US
41856,Wyoming,Weston,56,45,WY,White,1,2011,US
41857,Wyoming,Weston,56,45,WY,White,1,2015,US
41858,Wyoming,Weston,56,45,WY,White,1,2018,US

In [22]:
df2.to_csv("race_cdc_pulmonary_data.csv", index=False)